.footer-bar{
    background-color: #f6f3ec;
    height: fit-content;
    width: 100%;
    margin: 0;
}

.logo1 {
    display: flex;
    justify-content:center;
    align-items: center;
    margin:10px;
}
.logo1 > .div1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 23px;
    color: #603400;
}
.logo1 > .div2 {
    font-size: 13px;
    color: #603400;
}

.contact1{
    padding: 2px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 13px;
}

.lin1 {
    padding: 2px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 13px;
}

.contact-info1{
    margin:10px;
    height:fit-content;
}

.li-info1{
    margin:10px
}

.smedia {
    display: flex;
    justify-content:center;
    align-items: center;
    margin:10px
}


.m1 {
    margin: 2px 5px 2px 5px;
    
}

.m2 {
    margin: 1px 5px 1px 5px;
    
}

.m3 {
    margin: 0 5px 0 5px;
    
}
