/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 6, 2024, 2:42:46 AM
    Author     : Sithuruwan
*/

@charset "utf-8";

body {
    background-color: #F6F3EC;
}

.container-fluid .container table {
    border: 1px solid #000000;
}

.container-fluid .container {
    margin-top: 75px;
}

table, th, td {
    padding: 18px;
}

form .form-group {
    width: 400px;
    height: 36px;
}

.heading {
    font-weight: bold;
}

.btn.btn-warning.my-2.my-sm-0 {
    color: white;
    background-color: #FC6B03;
    border: none;
    width: 400px;
    height: 36px;
}

