/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 11, 2024, 6:08:24 PM
    Author     : Sithuruwan
*/

@charset "utf-8";

table {
    border: 1px solid rgba(0, 0, 0, .15);
}

.stock_add table, .stock_add th, .stock_add td {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.stock_add {
    margin-bottom: 20px;
}

#add_button_td {
    padding-bottom: 20px;
}

#h3_heading_td {
    padding-top: 15px;
}

form .form-group {
    width: 400px;
    height: 36px;
}

.btn btn-primary btn-sm {
    color: white;
    background-color: #FC6B03;
    border: none;
}

#btn1 {
    width: 400px;
    height: 36px;
    font-size: 17px;
}

h3 {
    font-weight: bold;
    color: #FC6B03;
}