/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 6, 2024, 1:53:42 AM
    Author     : Sithuruwan
*/

@charset "utf-8";

body {
    background-color: #F6F3EC;
}

.details_table, .details_table th, .details_table td{
    border: 1px solid;
    border-color: black;
    border-collapse: collapse;
    padding: 20px;
    text-align: center;
}

.container-fluid .container {
    margin-top: 75px;
}

.btn.btn-warning.my-2.my-sm-0 {
    color: white;
    background-color: #FC6B03;
    border: none;
}
