/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 11, 2024, 6:08:24 PM
    Author     : Sithuruwan
*/

@charset "utf-8";

body {
    background-color: #F6F3EC;
}

table {
    border: 1px solid #000000;
}

.container-fluid .container {
    margin-top: 75px;
    margin-bottom: 75px;
}

.stock_add table, .stock_add th, .stock_add td {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

#add_button_td {
    padding-bottom: 20px;
}

#h3_heading_td {
    padding-top: 15px;
}

form .form-group {
    width: 400px;
    height: 36px;
}

.btn.btn-warning.my-2.my-sm-0 {
    color: white;
    background-color: #FC6B03;
    border: none;
    width: 400px;
    height: 36px;
}

h3 {
    font-weight: bold;
    color: #FC6B03;
}